{% extends 'base.html' %} {% load static %} {% block extra_headers %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
{% endblock %} {% block content %}
<div class="banner"><img src="{% static 'images/banner.png' %}" alt="" /></div>
<div class="categories">
  <h1>دسته بندی محصولات</h1>
  <div>
    <div id="c-one"><img src="{% static 'images/c-one.png' %}" alt="" /></div>
    <div id="c-two"><img src="{% static 'images/c-two.png' %}" alt="" /></div>
    <div id="c-four"><img src="{% static 'images/cat4.png' %}" alt="" /></div>
    <div id="c-three">
      <img src="{% static 'images/c-three.png' %}" alt="" />
    </div>
  </div>
</div>
<div class="most-sell">
  <h2>پرفروش ترین‌ها</h2>
  <div class="ms-maincontainer">
    <div class="ms-container">
      <div class="ms-options">
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/glyph-neue/18/search--v1.png"
            alt="search--v1"
          />
        </div>
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/pastel-glyph/18/paper-bag--v2.png"
            alt="paper-bag--v2"
          />
        </div>
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/ios/18/like--v1.png"
            alt="like--v1"
          />
        </div>
      </div>
      <div class="ms-shadow">
        <img src="{% static 'images/ms1.jpeg' %}" alt="" />
      </div>
      <p>گان جراحی یکبار مصرف 38 گرم </p>
      <div class="ms-price">
        <div>
          <div class="ms-discount">
            <div>
              <span>۱۴٪</span>
            </div>
            <s>۱۵,۷۹۰</s>
          </div>
          <div class="ms-totalprice">
            <p>۱۳,۴۸۰ تومان</p>
          </div>
        </div>
        <div><img src="{% static 'images/stars.png' %}" alt="" /></div>
      </div>
      <button>افزودن به سبد خرید</button>
    </div>
    <div class="ms-container">
      <div class="ms-options">
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/glyph-neue/18/search--v1.png"
            alt="search--v1"
          />
        </div>
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/pastel-glyph/18/paper-bag--v2.png"
            alt="paper-bag--v2"
          />
        </div>
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/ios/18/like--v1.png"
            alt="like--v1"
          />
        </div>
      </div>
      <div class="ms-shadow">
        <img src="{% static 'images/ms2.png' %}" alt="" />
      </div>
      <p>گان جراحی یکبار مصرف 38 گرم </p>
      <div class="ms-price">
        <div>
          <div class="ms-discount">
            <div>
              <span>۱۴٪</span>
            </div>
            <s>۱۵,۷۹۰</s>
          </div>
          <div class="ms-totalprice">
            <p>۱۳,۴۸۰ تومان</p>
          </div>
        </div>
        <div><img src="{% static 'images/stars.png' %}" alt="" /></div>
      </div>
      <button>افزودن به سبد خرید</button>
    </div>
    <div class="ms-container">
      <div class="ms-options">
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/glyph-neue/18/search--v1.png"
            alt="search--v1"
          />
        </div>
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/pastel-glyph/18/paper-bag--v2.png"
            alt="paper-bag--v2"
          />
        </div>
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/ios/18/like--v1.png"
            alt="like--v1"
          />
        </div>
      </div>
      <div class="ms-shadow">
        <img src="{% static 'images/ms3.png' %}" alt="" />
      </div>
      <p>گان جراحی یکبار مصرف 38 گرم </p>
      <div class="ms-price">
        <div>
          <div class="ms-discount">
            <div>
              <span>۱۴٪</span>
            </div>
            <s>۱۵,۷۹۰</s>
          </div>
          <div class="ms-totalprice">
            <p>۱۳,۴۸۰ تومان</p>
          </div>
        </div>
        <div><img src="{% static 'images/stars.png' %}" alt="" /></div>
      </div>
      <button>افزودن به سبد خرید</button>
    </div>
    <div class="ms-container">
      <div class="ms-options">
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/glyph-neue/18/search--v1.png"
            alt="search--v1"
          />
        </div>
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/pastel-glyph/18/paper-bag--v2.png"
            alt="paper-bag--v2"
          />
        </div>
        <div>
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/ios/18/like--v1.png"
            alt="like--v1"
          />
        </div>
      </div>
      <div class="ms-shadow">
        <img src="{% static 'images/ms4.png' %}" alt="" />
      </div>
      <p>گان جراحی یکبار مصرف 38 گرم </p>
      <div class="ms-price">
        <div>
          <div class="ms-discount">
            <div>
              <span>۱۴٪</span>
            </div>
            <s>۱۵,۷۹۰</s>
          </div>
          <div class="ms-totalprice">
            <p>۱۳,۴۸۰ تومان</p>
          </div>
        </div>
        <div><img src="{% static 'images/stars.png' %}" alt="" /></div>
      </div>
      <button>افزودن به سبد خرید</button>
    </div>
  </div>
</div>
{% for product in products %}

<div class="card" style="width: 18rem">
  <img src="{{ product.image.url }}" class="card-img-top" />
  <div class="card-body">
    <a href="{{ product.get_absolute_url }}" class="card-title">
      {{ product.name }}</a
    >
  </div>
</div>
{% endfor %} {% endblock %}
