{% extends 'base.html' %} {% load static %} {% block extra_headers %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
{% endblock %} {% block content %}
<div class="banner"><img src="{% static 'images/banner.png' %}" alt="" /></div>
<div class="categories">
  <h1>دسته بندی محصولات</h1>
  <div>
    <div id="c-one"><img src="{% static 'images/c-one.png' %}" alt="" /></div>
    <div id="c-two"><img src="{% static 'images/c-two.png' %}" alt="" /></div>
    <div id="c-three">
      <img src="{% static 'images/c-three.png' %}" alt="" />
    </div>
  </div>
</div>
{% for product in products %}

<div class="card" style="width: 18rem">
  <img src="{{ product.image.url }}" class="card-img-top" />
  <div class="card-body">
    <a href="{{ product.get_absolute_url }}" class="card-title">
      {{ product.name }}</a
    >
  </div>
</div>
{% endfor %} {% endblock %}
