{% extends 'base.html' %} {% load static %} {% load i18n %} {% load price_filter %} {% block extra_headers %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock %} {% block content %}
<div class="banner">
    <div
            id="carouselExampleInterval"
            class="carousel slide carousel-fade"
            data-bs-ride="carousel"
            style="height: 100%"
    >
        <div class="carousel-inner" style="height: 100%">

            <div
                    class="carousel-item active"
                    data-bs-interval="2000"
                    style="height: 100%"
            >
                <img
                        src="{% static 'images/banner5.png' %}"
                        class="d-block w-100"
                        alt="..."
                />
            </div>
            <div class="carousel-item" data-bs-interval="2000" style="height: 100%">
                <img
                        src="{% static 'images/banner.png' %}"
                        class="d-block w-100"
                        alt="..."
                />
            </div>
            <div class="carousel-item" data-bs-interval="2000" style="height: 100%">
                <img
                        src="{% static 'images/banner2.png' %}"
                        class="d-block w-100"
                        alt="..."
                />
            </div>
            <div class="carousel-item" data-bs-interval="2000" style="height: 100%">
                <img
                        src="{% static 'images/banner3.png' %}"
                        class="d-block w-100"
                        alt="..."
                />
                <div id="offers-banner">
                    <h1>جدیدترین تخفیفات در اینجا</h1>
                    <button>
                        <a href="{% url 'home:products' page_number=1 %}"> مشاهده محصولات
                            <img src="{% static 'images/arrowUL.png' %}" alt=""/></a>
                    </button>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000" style="height: 100%">
                <img
                        src="{% static 'images/banner4.png' %}"
                        class="d-block w-100"
                        alt="..."
                />
            </div>
        </div>
        <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="most-sell">
    <div class="titles">
        <h2>{% trans "پرفروش ترین‌ها" %}</h2>
        <p><a href="{% url 'home:products' page_number=1 %}">{% trans "مشاهده همه" %}</a></p>
    </div>
    <div class="ms-maincontainer">
        {% for bsProduct in best_seller %}
        <div class="ms-container">
            <div class="ms-options">
                <div>
                    <img
                            width="18"
                            height="18"
                            src="https://img.icons8.com/glyph-neue/18/search--v1.png"
                            alt="search--v1"
                    />
                </div>
                <div>
                    <img
                            width="18"
                            height="18"
                            src="https://img.icons8.com/pastel-glyph/18/paper-bag--v2.png"
                            alt="paper-bag--v2"
                    />
                </div>
                <div>
                    <img
                            width="18"
                            height="18"
                            src="https://img.icons8.com/ios/18/like--v1.png"
                            alt="like--v1"
                    />
                </div>
            </div>
            <a href="{{ bsProduct.get_absolute_url }}">
                <div class="ms-shadow">
                    <img src="media/{{ bsProduct.image }}" alt=""/>
                </div>
                <p>{{ bsProduct.name }}</p>
                <div class="ms-price">
                    <div class="ms-payable">
                        <div class="ms-discount">
                            <div>
                                <span>{{ bsProduct.discount }}%</span>
                            </div>
                            <s>{{ bsProduct.price|currency }}</s>
                        </div>
                        <div class="ms-totalprice">
                            <p>{{ bsProduct.get_asking_price|currency }}</p>
                        </div>
                    </div>
                    <div class="ms-rate">
                        <span onclick="gfg(1)" class="star">★ </span>
                        <span onclick="gfg(2)" class="star">★ </span>
                        <span onclick="gfg(3)" class="star">★ </span>
                        <span onclick="gfg(4)" class="star">★ </span>
                        <span onclick="gfg(5)" class="star">★ </span>
                    </div>
                </div>
                <button>{% trans "افزودن به سبد خرید" %}</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="sub-banner">
    <div>
        <a href=""><img src="{% static 'images/sub-banner1.png' %}" alt=""/></a>
    </div>
    <div>
        <a href=""><img src="{% static 'images/sub-banner2.png' %}" alt=""/></a>
    </div>
</div>

<div class="categories">
    <h1>{% trans "دسته بندی محصولات" %}</h1>
    <div class="overflow">
        <div>

            <div id="c-one">
                <a href="{{ categories.0.get_absolute_url }}" style="height:100%;"> <img
                        src="{% static 'images/c-2.png' %}" alt=""/>
                    <h2 class="category-name">{{ categories.0.name }}</h2></a>
            </div>
            <div id="c-two">
                <a href="{{ categories.1.get_absolute_url }}" style="height:100%;">
                    <img src="{% static 'images/c-1.png' %}" alt=""/>
                    <h2 class="category-name">{{ categories.1.name }}</h2>
                </a>
            </div>
            <div id="c-three">
                <a href="{{ categories.2.get_absolute_url }}" style="height:100%;"> <img
                        src="{% static 'images/c-3.png' %}" alt=""/>
                    <h2 class="category-name">{{ categories.2.name }}</h2></a>
            </div>
            <div id="c-four">
                <a href="{{ categories.3.get_absolute_url }}" style="height:100%;"> <img
                        src="{% static 'images/c-4.png' %}" alt=""/>
                    <h2 class="category-name">{{ categories.3.name }}</h2></a>
            </div>

        </div>
    </div>
</div>

<div class="most-sell">
    <div class="titles">
        <h2>{% trans "پیشنهاد گروه سام" %}</h2>
        <p><a href="{% url 'home:products' page_number=1 %}">{% trans "مشاهده همه" %}</a></p>
    </div>
    <div class="ms-maincontainer">
        {% for sProduct in suggested %}
        <div class="ms-container">
            <div class="ms-options">
                <div>
                    <img
                            width="18"
                            height="18"
                            src="https://img.icons8.com/glyph-neue/18/search--v1.png"
                            alt="search--v1"
                    />
                </div>
                <div>
                    <img
                            width="18"
                            height="18"
                            src="https://img.icons8.com/pastel-glyph/18/paper-bag--v2.png"
                            alt="paper-bag--v2"
                    />
                </div>
                <div>
                    <img
                            width="18"
                            height="18"
                            src="https://img.icons8.com/ios/18/like--v1.png"
                            alt="like--v1"
                    />
                </div>
            </div>
            <a href="{{ sProduct.get_absolute_url }}">

                <div class="ms-shadow">
                    <img src="media/{{ sProduct.image }}" alt=""/>
                </div>
                <p>{{ sProduct.name }}</p>
                <div class="ms-price">
                    <div class="ms-payable">
                        <div class="ms-discount">
                            <div>
                                <span>{{ sProduct.discount }}%</span>
                            </div>
                            <s>{{ sProduct.price|currency }}</s>
                        </div>
                        <div class="ms-totalprice">
                            <p>{{ sProduct.get_asking_price|currency }}</p>
                        </div>
                    </div>
                    <div class="ms-rate">
                        <span onclick="gfg(1)" class="star">★ </span>
                        <span onclick="gfg(2)" class="star">★ </span>
                        <span onclick="gfg(3)" class="star">★ </span>
                        <span onclick="gfg(4)" class="star">★ </span>
                        <span onclick="gfg(5)" class="star">★ </span>
                    </div>
                </div>
                <button>{% trans "افزودن به سبد خرید" %}</button>
            </a>

        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}