{% load static %}

<div class="card auth-card w-50">
  <div class="card-body d-flex justify-content-start flex-column p-5">
    <div class="w-100 justify-content-center d-flex mb-4">
      <img src="{% static 'images/Group.png' %}" class="card-title w-25" />
    </div>
    <h6 class="card-subtitle mb-2 text-black subtitle mb-4 ps-4">
      ورود | ثبت نام
    </h6>
    <p class="card-text text-muted ps-5">خوش آمدید!</p>
    <p class="text-muted ps-5">لطفا ایمیل خود را وارد کنید</p>
    <form action="{% url 'home:home' %}" class="needs-validation" style="height: 55px" novalidate>
      <div class="col-md-12 d-flex justify-content-center" style="height: 100%">
        <div class="input-group has-validation" style="width: 85%">
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            aria-describedby="inputGroupPrepend"
            required
            style="height: 100%; border-radius: 10px"
          />
          <div class="invalid-feedback">ایمیل نادرست است</div>
        </div>
      </div>
      <div class="form-button">
        <input type="submit" value="ورود" />
      </div>
    </form>
  </div>
  <p class="card-footer">
    ورود شما به معنای پذیرش <span>قوانین حریم خصوصی</span> است
  </p>
</div>
