@font-face {
  font-family: "vazirmatn";
  src: url("/static/fonts/Vazirmatn-Medium.ttf");
}

body {
  font-family: "vazirmatn";
}

.header {
  width: 100%;
  height: 176px;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 71%;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 55px;
}

.search div#logo {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.search div#logo label {
  position: relative;
  width: 80%;
}

.search div#logo label::before {
  content: "";
  position: absolute;
  left: 19px;
  top: 10px;
  bottom: 0;
  width: 24px;
  background: url("https://img.icons8.com/ios-filled/24/search--v1.png");
  background-repeat: no-repeat;
}

.search div#logo input[type="text"] {
  width: 100%;
  padding: 10px 19px;
  background-color: #ecf4fa;
  border: none;
  border-radius: 10px;
}

.search div#login {
  width: 24%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.search div#login div {
  position: relative;
}

.search div#login div span {
  position: absolute;
  background-color: #00999a;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -7px;
  top: 3px;
}

.search div#login button {
  border-radius: 30px;
  border-width: 1px;
  border-color: #b7b7b7;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 40%;
  height: 100%;
  padding-left: 14px;
  padding-right: 14px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.search div#login button:hover {
  background-color: #b7b7b7;
}

.search div#login p {
  color: #008384;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.menu {
  background-color: #ecf4fa;
  height: 29%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 55px;
}

.menu div#hamber {
  width: 53%;
  height: 100%;
  align-items: center;
  display: flex;
}

.menu div div#items {
  width: 100%;
}

.menu div div#items ul#main {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  padding: 0;
  height: 100%;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #505051;
  width: 100%;
}
.navbar-expand-lg .navbar-collapse {
  width: 100%;
  height: 100%;
}

.navbar-toggler-icon svg {
  width: 100%;
  height: 100%;
}
.menu div div#items ul#main li#home {
  color: #008384;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
}
.menu div div#items ul#main li {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: #464646;
  cursor: pointer;
}
.menu div div#items ul#main li:hover {
  color: #008384;
}

.menu div div#items ul#dropdown {
  background-color: #fbfbfb;
  border-radius: 15px;
  padding: 16px 25px;
  width: 350px;
  height: 230px;
}

.menu div div#items .dropdown-menu.show {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu div div#items ul#dropdown li.main-category {
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000;
  padding-right: 0;
  cursor: pointer;
}

.menu div div#items ul#dropdown li {
  padding-right: 20px;
  color: #5b5b5b;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
}

.menu div div#items .dropdown-toggle::after {
  display: none;
}
.menu div div#items .dropdown-toggle {
  padding: 0;
  margin: 0;
}

.menu div#favourit {
  width: 12%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.menu div#favourit div {
  position: relative;
}

.menu div#favourit div span {
  position: absolute;
  background-color: #00999a;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  color: white;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -7px;
  top: 3px;
}

.menu div#favourit button#language {
  border-width: 1px;
  border-color: #b7b7b7;
  border-radius: 25px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.menu div#favourit p {
  color: #464646;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  cursor: pointer;
}
.menu div#favourit p:hover {
  color: #008384;
}

.banner {
  padding: 50px 80px;
}

.banner img {
  width: 100%;
  height: 100%;
}
.categories h1 {
  color: #009a9b;
  font-size: 30px;
  line-height: 46px;
  font-weight: 600;
  text-align: center;
}
.categories div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 50px;
}

.categories div div {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 1%,
    rgba(0, 0, 0, 0) 53%
  );
  height: 300px;
  width: 25%;
  border-radius: 50px;
  transition: background 0.5s ease;
  display: inline-block;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.categories div div img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.categories div div img:hover {
  transform: scale(1.2);
}

.categories div div:hover {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 100%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .search div#logo {
    width: 53%;
  }
  .search div#logo label {
    width: 70%;
  }
  .search div#login {
    width: 45%;
  }
  .menu div#hamber {
    align-items: flex-start;
  }
  .menu div div#items {
    margin-right: 15px;
  }
  .menu div div#items ul#main {
    align-items: flex-start;
  }
  .menu div#favourit {
    width: 38%;
  }
  .menu {
    align-items: flex-start;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .search,
  .menu {
    padding-left: 60px;
    padding-right: 40px;
    align-items: center;
  }
  .search div#logo,
  .menu div#hamber {
    width: 60%;
    align-items: center;
  }
  .search div#login {
    width: 36%;
    justify-content: space-between;
  }
  .search div#login button {
    width: 45%;
  }
  .menu div#favourit {
    width: 35%;
    justify-content: space-around;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .search div#login {
    width: 32%;
    justify-content: space-between;
  }
  .search div#login button {
    width: 42%;
  }
  .menu div#favourit {
    width: 32%;
  }
  .search,
  .menu {
    padding-left: 100px;
    padding-right: 55px;
  }
  .menu {
    height: 29%;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
  }
  .search div#logo,
  .menu div#hamber {
    width: 53%;
    align-items: center;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .search div#login {
    width: 27%;
    justify-content: space-between;
  }
  .search div#login button {
    width: 41%;
  }
  .menu div#favourit {
    width: 27%;
    justify-content: space-around;
  }
  .search div#logo,
  .menu div#hamber {
    width: 50%;
    align-items: center;
  }
  .search,
  .menu {
    padding-left: 100px;
    padding-right: 55px;
  }
  .menu {
    height: 29%;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
  }
}

@media (min-width: 1600px) {
  .search div#login {
    width: 24%;
  }
  .search div#login button {
    width: 40%;
  }
  .menu div#favourit {
    width: 22%;
    justify-content: space-around;
  }
  .search div#logo,
  .menu div#hamber {
    width: 50%;
    align-items: center;
  }
  .search,
  .menu {
    padding-left: 100px;
    padding-right: 55px;
  }
  .menu {
    height: 29%;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
  }
}
