@font-face {
  font-family: "vazirmatn";
  src: url("/static/fonts/Vazirmatn-Medium.ttf");
}

body {
  font-family: "vazirmatn";
  background-color: #f9f9f9;
}

.right19::before{
  left: auto !important;
  right: 19px;
}

.dropdown-toggle::after {
  display: none;
}
.offcanvas-header {
  justify-content: flex-end;
}
.offcanvas-footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.offcanvas-footer div {
  width: 20%;
  height: 100%;
}

.offcanvas-footer div img {
  width: 80%;
  height: 80%;
}

#hamber-button {
  font-size: 2.5rem;
}

.carousel-control-next-icon {
  background-image: url(https://icons8.com/icon/86517/forward);
}
.carousel-control-prev-icon {
  background-image: url(https://icons8.com/icon/86517/forward);
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 268px;
  right: -5px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: transparent;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.header {
  width: 100%;
  height: 176px;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 71%;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 55px;
}

.search div#logo {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.search div#logo label {
  position: relative;
  width: 80%;
}

.search div#logo label::before {
  content: "";
  position: absolute;
  left: 19px;
  top: 10px;
  bottom: 0;
  width: 24px;
  background: url("https://img.icons8.com/ios-filled/24/search--v1.png");
  background-repeat: no-repeat;
}

.search div#logo input[type="text"] {
  width: 100%;
  padding: 10px 19px;
  background-color: #ecf4fa;
  border: none;
  border-radius: 10px;
}

.search div#login {
  width: 24%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  height: 100%;
}

.search div#login div {
  position: relative;
}

.search div#login div span {
  position: absolute;
  background-color: #00999a;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -7px;
  top: 3px;
}

.search div#login button {
  border-radius: 30px;
  border-width: 1px;
  border-color: #b7b7b7;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 40%;
  height: 100%;
  padding-left: 14px;
  padding-right: 14px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.search div#login button:hover {
  background-color: #b7b7b7;
}

.search div#login p {
  color: #008384;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.menu {
  background-color: #ecf4fa;
  height: 29%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 55px;
}

.menu div#hamber {
  width: 53%;
  height: 100%;
  align-items: center;
  display: flex;
}

.menu div div#items {
  width: 100%;
}

.menu div div#items ul#main {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  padding: 0;
  height: 100%;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #505051;
  width: 100%;
}
.navbar-expand-lg .navbar-collapse {
  width: 100%;
  height: 100%;
}

.navbar-toggler-icon svg {
  width: 100%;
  height: 100%;
}

ul#main-side {
  margin-top: 50px;
  padding-right: 30px;
  height: 45%;
  justify-content: space-between;
}

ul#main li#home,
ul#main-side li#home-side {
  color: #008384;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
}
ul#main li,
ul#main-side li {
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: #464646;
  cursor: pointer;
}
ul#main li:hover,
ul#main-side:hover {
  color: #008384;
}

ul#dropdown,
ul#dropdown-side {
  background-color: #fbfbfb;
  border-radius: 15px;
  padding: 16px 25px;
  width: 350px;
  height: 230px;
}

.menu div div#items .dropdown-menu.show {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu div div#items ul#dropdown li.main-category {
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000;
  padding-right: 0;
  cursor: pointer;
}

.menu div div#items ul#dropdown li {
  padding-right: 20px;
  color: #5b5b5b;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
}

.menu div div#items .dropdown-toggle::after {
  display: none;
}
.menu div div#items .dropdown-toggle {
  padding: 0;
  margin: 0;
}

.menu div#favourit {
  width: 12%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.menu div#favourit div {
  position: relative;
}

.menu div#favourit div span {
  position: absolute;
  background-color: #00999a;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  color: white;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -7px;
  top: 3px;
}

.menu div#favourit #lang-container{
  justify-content: space-around;
  width: 30%;
}

.menu div#favourit form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu div#favourit #language {
  border-width: 1px;
  border-color: #b7b7b7;
  border-radius: 25px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.menu div#favourit p {
  color: #464646;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  cursor: pointer;
}
.menu div#favourit p:hover {
  color: #008384;
}

.banner {
  padding: 50px 80px;
}

.banner #banner {
  width: 100%;
  height: 100%;
  background-color: #090042;
  display: flex;
  justify-content: center;
}

.banner #banner h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
}

.banner img {
  width: 100%;
  height: 100%;
}
.categories h1 {
  color: #009a9b;
  font-size: 30px;
  line-height: 46px;
  font-weight: 600;
  text-align: center;
}
.categories div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 50px;
}

.categories div div {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 1%,
    rgba(0, 0, 0, 0) 53%
  );
  height: 270px;
  width: 20%;
  border-radius: 50px;
  transition: background 0.5s ease;
  display: inline-block;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.categories div div img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.categories div div img:hover {
  transform: scale(1.2);
}

.categories div div:hover {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 100%,
    rgba(0, 0, 0, 0) 100%
  );
}

.most-sell h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 55px;
  color: #455568;
  margin-bottom: 30px;
}

.most-sell div.ms-maincontainer {
  display: flex;
  justify-content: space-between;
}

.most-sell div div.ms-container {
  width: 22%;
  height: 459px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.5s ease;
}

.most-sell div div.ms-container div.ms-options {
  box-shadow: 0px 0px 4px 0px #00000040;
  width: 59px;
  height: 148px;
  border-radius: 10px;
  position: absolute;
  left: 10%;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  display: none;
}
.most-sell div div.ms-container div.ms-options div img {
  width: 18px;
  height: 18px;
  border-radius: 0px;
}

.most-sell div div.ms-container:hover {
  box-shadow: 0px 0px 10px 0px #29292926;
  border-radius: 30px;
  padding: 20px 10px;
}

.most-sell div div.ms-container:hover div.ms-options {
  display: flex;
}

.most-sell div div.ms-container:hover div.ms-shadow {
  box-shadow: none;
}

.most-sell div.ms-shadow {
  box-shadow: 0px 0px 10px 0px #3434341a;
  width: 100%;
  border-radius: 30px;
  height: 55%;
  transition: 0.5s ease;
}

.most-sell div div img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.most-sell div div p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  width: 45%;
  color: #434343;
}

.most-sell div.ms-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-direction: row-reverse;
}

.ms-rate {
  float: left;
  height: 46px;
  padding: 0 10px;
  width: 65%;
}
.ms-rate .star {
  font-size: 25px;
  cursor: pointer;
}

.ms-rate .checked {
  color: #ffc700;
}

.ms-rate .one {
  color: #ffc700;
}

.ms-rate .two {
  color: #ffc700;
}

.ms-rate .three {
  color: #ffc700;
}

.ms-rate .four {
  color: #ffc700;
}

.ms-rate .five {
  color: #ffc700;
}

.most-sell div.ms-price div.ms-payable {
  width: 35%;
}
.most-sell div.ms-price div div.ms-discount {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.most-sell div.ms-price div div.ms-discount s {
  color: #7d7d7d;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
}

.most-sell div.ms-price div div.ms-discount div {
  background-color: #006a6a;
  border-radius: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.most-sell div.ms-price div div.ms-discount div span {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
}

.most-sell div.ms-price div div.ms-totalprice {
  width: 100%;
  text-align: end;
}

.most-sell div.ms-price div div.ms-totalprice p {
  width: 100%;
  color: #006a6a;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
}

.most-sell div div.ms-container button {
  background-color: #008384;
  border-radius: 6px;
  border: none;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  height: 10%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .search div#login {
    display: none;
  }
  .menu div#favourit {
    display: none;
  }
  .menu {
    display: none;
  }
  ul#main-side li#home-side,
  ul#main-side li {
    font-size: 35px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    height: 140px;
  }
  .search {
    height: 100%;
    padding-left: 70px;
    padding-right: 35px;
  }
  .search div#logo label::before {
    top: 20px;
  }
  .search div#logo input[type="text"] {
    height: 100%;
    font-size: 25px;
  }
  #logo img {
    height: 100%;
  }
  .search div#logo {
    width: 63%;
  }
  .search div#logo label {
    width: 70%;
  }
  .search div#login {
    width: 45%;
  }
  .menu div#hamber {
    align-items: flex-start;
  }
  .menu div div#items {
    display: none;
  }
  .menu div div#items ul#main {
    align-items: flex-start;
  }
  .menu div#favourit {
    width: 38%;
  }
  .menu {
    align-items: flex-start;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .most-sell div.ms-maincontainer {
    flex-wrap: wrap;
    gap: 25px;
  }
  .most-sell div div.ms-container {
    width: 45%;
  }
  .most-sell div div p {
    font-size: 19px;
    width: 60%;
  }
  .most-sell div.ms-price div div.ms-discount div span {
    font-size: 17px;
  }
  .most-sell div.ms-price div div.ms-discount s {
    font-size: 16px;
  }
  .most-sell div.ms-price div div.ms-totalprice p {
    font-size: 20px;
  }
  .most-sell div div.ms-container button {
    font-size: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    height: 176px;
  }
  .search {
    height: 71%;
  }
  #hamber-button {
    display: none;
  }
  .search div#logo label::before {
    top: 10px;
  }
  .search div#logo input[type="text"] {
    height: 100%;
    font-size: inherit;
  }
  ul#main-side li#home-side,
  ul#main-side li {
    font-size: 17px;
  }
  .search,
  .menu {
    padding-left: 60px;
    padding-right: 40px;
    align-items: center;
  }
  .menu {
    display: flex;
  }

  .menu div div#items {
    display: block;
  }
  .search div#logo,
  .menu div#hamber {
    width: 60%;
    align-items: center;
  }
  .search div#logo label {
    width: 80%;
  }
  .search div#login {
    display: flex;
    width: 36%;
    justify-content: space-between;
  }
  .search div#login button {
    width: 45%;
  }
  .menu div#favourit {
    display: flex;
    width: 35%;
    justify-content: space-around;
  }
  .most-sell div div.ms-container {
    height: 410px;
  }

  .most-sell div.ms-maincontainer div.ms-container:hover p {
    width: 70%;
  }
  .most-sell div.ms-maincontainer div.ms-container:hover div.ms-totalprice p {
    font-size: 12px;
    width: 100%;
  }
  .most-sell div.ms-maincontainer div.ms-container:hover .ms-rate .star {
    font-size: 18px;
  }
  .most-sell div div p {
    width: 65%;
    font-size: 14px;
  }
  .most-sell div.ms-price div div.ms-totalprice p {
    font-size: 13px;
  }
  .ms-rate .star {
    font-size: 20px;
  }
  .most-sell div.ms-maincontainer {
    flex-wrap: nowrap;
    gap: 0px;
  }
  .most-sell div div.ms-container {
    width: 22%;
  }

  .most-sell div.ms-price div div.ms-discount div span {
    font-size: 12px;
  }
  .most-sell div.ms-price div div.ms-discount s {
    font-size: 12px;
  }
  .most-sell div.ms-price div div.ms-totalprice p {
    font-size: 13px;
  }
  .most-sell div div.ms-container button {
    font-size: 14px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .search div#login {
    width: 32%;
    justify-content: space-between;
  }
  .search div#login button {
    width: 42%;
  }
  .menu div#favourit {
    width: 32%;
  }
  .search,
  .menu {
    padding-left: 100px;
    padding-right: 55px;
  }
  .menu {
    height: 29%;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
  }
  .search div#logo,
  .menu div#hamber {
    width: 53%;
    align-items: center;
  }
  .search div#logo label {
    width: 80%;
  }
  .most-sell div div.ms-container {
    height: 460px;
  }
  .most-sell div.ms-maincontainer div.ms-container:hover p {
    width: 55%;
  }
  .most-sell div.ms-maincontainer div.ms-container:hover div.ms-totalprice p {
    font-size: 14px;
    width: 100%;
  }
  .most-sell div.ms-maincontainer div.ms-container:hover .ms-rate .star {
    font-size: 22px;
  }
  .most-sell div div p {
    width: 55%;
  }
  .most-sell div.ms-price div div.ms-totalprice p {
    font-size: 15px;
  }
  .ms-rate .star {
    font-size: 22px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .search div#login {
    width: 27%;
    justify-content: space-between;
  }
  .search div#login button {
    width: 41%;
  }
  .menu div#favourit {
    width: 27%;
    justify-content: space-around;
  }
  .search div#logo,
  .menu div#hamber {
    width: 50%;
    align-items: center;
  }
  .search div#logo label {
    width: 80%;
  }
  .search,
  .menu {
    padding-left: 100px;
    padding-right: 55px;
  }
  .menu {
    height: 29%;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
  }

  .most-sell div div p {
    width: 50%;
  }
  .most-sell div div p {
    width: 55%;
  }
  .most-sell div.ms-price div div.ms-totalprice p {
    font-size: 14px;
  }
  .ms-rate .star {
    font-size: 22px;
  }
}

@media (min-width: 1600px) {
  .search div#login {
    width: 24%;
  }
  .search div#login button {
    width: 40%;
  }
  .menu div#favourit {
    width: 22%;
    justify-content: space-around;
  }
  .search div#logo,
  .menu div#hamber {
    width: 50%;
    align-items: center;
  }
  .search div#logo label {
    width: 80%;
  }
  .search,
  .menu {
    padding-left: 100px;
    padding-right: 55px;
  }
  .menu {
    height: 29%;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
  }

  .most-sell div.ms-maincontainer div.ms-container:hover p {
    width: 45%;
  }
  .most-sell div.ms-maincontainer div.ms-container:hover div.ms-totalprice p {
    font-size: 17px;
    width: 100%;
  }
  .most-sell div.ms-maincontainer div.ms-container:hover .ms-rate .star {
    font-size: 25px;
  }
  .most-sell div div p {
    width: 45%;
  }
  .most-sell div.ms-price div div.ms-totalprice p {
    font-size: 17px;
  }
  .ms-rate .star {
    font-size: 25px;
  }
}
