{% load static %} {% load i18n %}

<footer class="footer">
    <div class="footer-main">
        <img src="{% static 'images/Group.png' %}" alt="logo"/>
        <div>
            <ul>
                <li>{% trans "تماس با ما" %}</li>
                <li>{% trans "درباره ما" %}</li>
                <li>{% trans "مشتریان ما" %}</li>
                <li>{% trans "شرایط و قوانین" %}</li>
            </ul>
            <ul>
                <li>{% trans "سیاست حریم خصوصی" %}</li>
                <li>{% trans "حساب کاربری من" %}</li>
                <li>{% trans "سبد خرید" %}</li>
            </ul>
        </div>
        <div id="support">
            <p>{% trans "هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم" %}</p>
            <a href=""
            ><img src="{% static 'images/telegram.svg' %}" alt="telegram"
            /></a>
            <a href=""
            ><img src="{% static 'images/instagram.svg' %}" alt="instagram"
            /></a>
        </div>
    </div>
    <div class="footer-desc">
        <h3>{% trans "گروه سام" %}</h3>
        <p>
            {% trans " گروه سام در زمینه تولیدات البسه یکبار مصرف بیمارستانی اعم از گان جراح، ست بیمار، انواع پک های جراحی، ست ام ار ای، گان تک بیمار، روتختی، رول ملحفه، کلاه بیمار و جراح و...با ظرفیت تولید روزانه:" %}
        </p>
        <ul>
            <li>{% trans "۱۰.۰۰۰ عدد گان جراح" %}</li>
            <li>{% trans "۲.۰۰۰ عدد پک جراحی" %}</li>
            <li>{% trans "۴.۰۰۰ عدد ست بیمار" %}</li>
            <li>{% trans "۱۲.۰۰۰ عدد گان تک بیمار" %}</li>
            <li>{% trans "۴.۰۰۰ عدد ست ام ار ای و ..." %}</li>
            <li>
                {% trans "امکان تولید به درخواست مشتری در گرماژ و ابعاد مختلف جهت صادرات" %}
            </li>
            <li>{% trans "با گرماژ کاملا استاندارد در کمترین زمان ممکن" %}</li>
            <li>{% trans "(کیفیت کاملأصادراتی)" %}</li>
            <li>
                {% trans "گروه سام سابقه صادرات محصولات خود به کشورهای:گرجستان، عراق، آذربایجان، ارمنستان، افغانستان و عمان را دارا میباشد." %}
            </li>
        </ul>
        <hr/>
        <p id="rights">{% trans "کلیه حقوق برای گروه سام محفوظ است." %}</p>
    </div>
</footer>
