{% load static %} {% load i18n %}

<nav class="navbar navbar-expand-lg sidenav fixed-top" style="padding-top: 0">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_language_info for LANGUAGE_CODE as lang %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% load set_var %}
    {% if LANGUAGE_CODE == 'en' or LANGUAGE_CODE == 'ka' %}
    {% set offcanvas = "offcanvas-end" %}
    {% else %}
    {% set offcanvas = "offcanvas-start" %}
    {% endif %}
    <div class="header">
        <div class="search">
            <button
                    id="hamber-button"
                    class="btn float-end"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvas"
                    role="button"
            >
        <span class="navbar-toggler-icon">
          <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="100"
                  height="100"
                  viewBox="0 0 50 50"
          >
            <path
                    d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 L 0 7.5 z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 L 0 22.5 z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 L 0 37.5 z"
            ></path>
          </svg>
        </span>
            </button>
            <div
                    class="offcanvas {{offcanvas}} w-40"
                    tabindex="-1"
                    id="offcanvas"
                    data-bs-keyboard="false"
                    data-bs-backdrop="true"
            >
                <div class="offcanvas-header">
                    <button
                            type="button"
                            class="btn-close text-reset"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body px-0">
                    <ul id="main-side" class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li id="home-side"><a href="{% url 'home:home' %}">{% trans "صفحه اصلی" %}</a></li>
                        <li>
                            <div class="dropdown">
                                <p
                                        class="dropdown-toggle"
                                        type="button"
                                        id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                >
                                    {% trans "دسته بندی کالاها" %}
                                    <img
                                            width="20"
                                            height="20"
                                            src="https://img.icons8.com/ios-filled/20/expand-arrow--v1.png"
                                            alt="expand-arrow--v1"
                                    />
                                </p>
                                <ul
                                        id="dropdown-side"
                                        class="dropdown-menu dropdown-menu-end"
                                        aria-labelledby="dropdownMenuButton1"
                                >

                                    {% for category in categories %}
                                    <li class="main-category">

                                        <a href="{{ category.get_absolute_url }}"> <img
                                                width="20"
                                                height="20"
                                                src="https://img.icons8.com/material-rounded/20/sort-down.png"
                                                alt="sort-down"
                                        />
                                            {{ category.name }}</a>
                                    </li>

                                    {% for subcategory in category.scategory.all %}
                                    <li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a></li>
                                    {% endfor %}

                                    {% endfor %}

                                </ul>
                            </div>
                        </li>
                        <li><a href="{% url 'home:products' page_number=1 %}">{% trans "همه محصولات" %}</a></li>
                        <li>{% trans "درباره ما" %}</li>
                        <li>{% trans "تخفیفات ویژه" %}</li>
                    </ul>
                </div>
                <div class="offcanvas-footer">
                    <div><a href="{% url 'accounts:register' %}"><img src="{% static 'images/Vector.svg' %}"/></a></div>
                    <div>
                        <img src="{% static 'images/fav.svg' %}" alt="favourit"/>
                    </div>

                    <div class="btn-group dropup" id="lang-container">
                        <form
                                style="width: 100%;"
                                name="language"
                                id="lang"
                                action="{% url 'set_language' %}"
                                method="post"
                        >
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}"/>
                            <input name="language" type="hidden"/>
                            <div
                                    class="dropdown-toggle"
                                    type="button"
                                    id="language"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="true"
                                    aria-expanded="false"
                                    style="width: 100%; height: 100%"
                            >
                                <img src="{% static 'images/lang.svg' %}" alt=""/>
                            </div>
                            <ul class="dropdown-menu" id="lang-dropdown" aria-labelledby="defaultDropdown">
                                {% for language in languages %}
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="#"
                                            onclick=" document.getElementById('lang').children[2].value ='{{language.code}}';
                                          document.getElementById('lang').submit();"
                                    >{{ language.name_local }}</a
                                    >
                                </li>
                                {% endfor %}
                            </ul>
                        </form>
                    </div>
                    <div><img src="{% static 'images/cart.svg' %}" alt="cart"/></div>
                </div>
            </div>
            <div id="logo">
                <label
                        for="search"
                        class="{% if LANGUAGE_CODE == 'en' or LANGUAGE_CODE == 'ka' %}right19{% endif %}"
                >
                    <input
                            type="text"
                            name="search"
                            placeholder="{% trans 'جستجوی محصولات' %}"
                    />
                </label>
                <img src="{% static 'images/Group.png' %}" alt="logo"/>
            </div>
            <div id="login">
                <div>
                    <span>۲</span>
                    <img src="{% static 'images/cart.svg' %}" alt="cart"/>
                </div>
                <button>
                    <a href="{% url 'accounts:register' %}">
                        {% trans "ورود/ثبت نام" %}
                        <img src="{% static 'images/Vector.svg' %}"/>
                    </a>
                </button>

            </div>
        </div>
        <div class="menu">
            <div id="hamber">
                <div id="items">
                    <ul id="main" class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li id="home"><a href="{% url 'home:home' %}">{% trans "صفحه اصلی" %}</a></li>
                        <li>
                            <div class="dropdown">
                                <p
                                        class="dropdown-toggle"
                                        type="button"
                                        id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                >
                                    {% trans "دسته بندی کالاها" %}
                                    <img
                                            width="15"
                                            height="15"
                                            src="https://img.icons8.com/ios-filled/15/expand-arrow--v1.png"
                                            alt="expand-arrow--v1"
                                    />
                                </p>
                                <ul
                                        id="dropdown"
                                        class="dropdown-menu"
                                        aria-labelledby="dropdownMenuButton1"
                                >
                                    {% for category in categories %}
                                    <div>
                                        <li class="main-category">
                                            <a href="{{ category.get_absolute_url }}"> <img
                                                    width="20"
                                                    height="20"
                                                    src="https://img.icons8.com/material-rounded/20/sort-down.png"
                                                    alt="sort-down"
                                            />
                                                {{ category.name }}</a>
                                        </li>
                                        {% for subcategory in category.scategory.all %}
                                        <li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a></li>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li><a href="{% url 'home:products' page_number=1 %}">{% trans "همه محصولات" %}</a></li>
                        <li>{% trans "درباره ما" %}</li>
                        <li>{% trans "تخفیفات ویژه" %}</li>
                    </ul>
                </div>
            </div>

            <div id="favourit">
                <div>
                    <span>۰</span>
                    <img src="{% static 'images/fav.svg' %}" alt="favourit"/>
                </div>
                <div>
                    <p>{% trans "محصولات مورد علاقه" %}</p>
                </div>
            </div>
        </div>
        <div class="language">
            <div id="lang-container">
                <form
                        style="width: 100%;"
                        name="language"
                        id="lang"
                        action="{% url 'set_language' %}"
                        method="post"
                >
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                    <input name="language" type="hidden"/>
                    <ul id="lang-dropdown" aria-labelledby="defaultDropdown">
                        {% for language in languages %}
                        <li>

                            <a
                                    href="#"
                                    onclick=" document.getElementById('lang').children[2].value ='{{language.code}}';
                      document.getElementById('lang').submit();"
                            > {% if language.code == 'en' %}
                                <img src="{% static 'images/english.png' %}" alt="">
                                {% elif language.code == 'ka' %}
                                <img src="{% static 'images/georgian.png' %}" alt="">
                                {% elif language.code == 'ar' %}
                                <img src="{% static 'images/arabic.png' %}" alt="">
                                {% else %}
                                <img src="{% static 'images/farsi.png' %}" alt="">
                                {% endif %}{{ language.name_local }}</a
                            >
                        </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
        </div>
    </div>
</nav>
